/* general css start */
:root {
  --primary-color: #285e67;
  --secondary-color: #fce2d7;
  --third-color: #f4f4f4;
  --fourth-color: #2b2b2b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: var(--fourth-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  cursor: pointer;
}

h2 {
  font-size: 50.52px;
  line-height: 58px;
  color: var(--fourth-color);
  margin-bottom: 61px;
  margin-top: 0px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

.btn {
  width: 251px;
  height: 56px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 67px;
  font-size: 23.33px;
  line-height: 24px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  border: 1px solid var(--third-color);
  width: 257px;
}

@media screen and (max-width: 431px) {
  .container {
    padding: 0 35.5px;
  }
}

/* general css end */

/* header start */
.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.header-nav .nav-items {
  display: flex;
  align-self: start;
  gap: 40px;
  margin: 0;
}

.header-nav .nav-items .nav-item {
  display: flex;
  align-self: start;
  gap: 40px;
  margin: 0;
  font-size: 16px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-content {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo .logo-circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #d0d0d0;
  border-radius: 26px;
}

.logo .logo-text {
  font-weight: 600;
  font-size: 21.33px;
  line-height: 24px;
  align-self: center;
  color: var(--primary-color);
}

.hero-section {
  margin-top: 142px;
  text-align: center;
}

.hero-section h1 {
  font-weight: 600;
  font-size: 65.34px;
  line-height: 85px;
  margin-bottom: 0;
}

.hero-section p {
  font-size: 16px;
  margin-top: 17px;
  margin-bottom: 0px;
}

.hero-section button {
  margin-top: 33px;
  margin-bottom: 56px;
}

.hero-section-image-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    margin-top: 58px;
  }

  .hero-section p {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-section-image-container {
    gap: 28px;
  }

  .hero-section-image-container img {
    width: calc(50% - 14px);
  }
}

@media screen and (max-width: 431px) {
  nav.header-nav .nav-items {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .hero-section {
    margin-top: 63px;
  }

  .hero-section h1 {
    font-size: 37.9px;
    line-height: 47px;
  }

  .hero-section p {
    width: 100%;
  }

  .hero-section-image-container {
    flex-direction: column;
  }

  .hero-section-image-container img {
    width: 100%;
    height: 391px;
  }

  .mobile-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--fourth-color);
    z-index: 2;
    transition: left 0.4s;
  }

  .mobile-menu-content.active {
    left: 0;
  }

  .mobile-menu-content .nav-items {
    display: flex;
    flex-direction: column;
    align-items: cenet;
    gap: 30px;
  }

  .mobile-menu-content .nav-items li {
    text-align: center;
  }

  .mobile-menu-content .nav-items li a {
    color: var(--third-color);
    font-size: 20px;
  }

  .mobile-menu-content .nav-items li:nth-child(2) {
    margin-bottom: 0;
    text-align: center;
  }

  .menu-icon {
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: white;
    top: 45px;
    right: 34px;
    transform: translateY(-50%) rotate(45deg);
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: white;
    top: 0;
    left: 0;
  }

  .menu-icon::before {
    transform: rotate(90deg);
  }
}

/* header end */

/* wellbeing-section start */
.wellbeing-section {
  margin-top: 107px;
  background-color: var(--third-color);
  padding: 99.73px 0px 51.73px 112px;
  border-radius: 12px;
  position: relative;
}

.wellbeing-section .bg {
  position: absolute;
  right: 112px;
  bottom: 0;
}

.wellbeing-items-container,
.you-items-container {
  display: flex;
  gap: 69px;
}
.wellbeing-item,
.you-item {
  width: 260px;
}

.wellbeing-item,
.you-item p {
  margin: 16px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .wellbeing-section {
    margin-top: 80px;
    padding: 64px 0 96px 0;
    display: flex;
    justify-content: center;
  }

  .wellbeing-section > img {
    display: none;
  }

  .wellbeing-content h2 {
    margin-bottom: 69px;
  }

  .wellbeing-item {
    text-align: center;
    margin-top: 0;
  }
}

@media screen and (max-width: 431px) {
  .wellbeing-section {
    margin-top: 36px;
    padding-top: 72px;
    padding-bottom: 52px;
  }

  .wellbeing-content {
    width: 100%;
    text-align: center;
  }

  .wellbeing-content h2 {
    font-size: 39.7px;
    line-height: 53px;
    margin-bottom: 40px;
  }

  .wellbeing-items-container,
  .you-items-container {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }
}

/* wellbeing-section end */

/* fresh-section start */
.fresh-section {
  margin-top: 107px;
  display: flex;
  gap: 53px;
}

.fresh-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fresh-section-right h2 {
  margin-bottom: 30px;
}

.fresh-section-right > p {
  margin-top: 0px;
  margin-bottom: 50px;
}

.fresh-section-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
}

.fresh-section-list-item {
  display: flex;
  align-items: center;
  gap: 23px;
}

.fresh-section-list-item p {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .fresh-section {
    margin-top: 80px;
    display: flex;
    gap: 25px;
    height: 578px;
  }
  .fresh-section > div {
    width: calc(50% - 12.5px);
  }

  .fresh-section h2 {
    margin-bottom: 16px;
  }

  .fresh-section .fresh-section-left {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
  }

  .fresh-section .fresh-section-left img {
    position: absolute;
    width: auto;
    height: auto;
    right: -93px;
    top: 0px;
    background-position: center;
    object-fit: contain;
  }

  .fresh-section-right {
    justify-content: start;
  }

  .fresh-section-right > p {
    margin-bottom: 92px;
  }

  .fresh-section-list {
    gap: 52px;
  }
}

@media screen and (max-width: 431px) {
  .fresh-section {
    flex-direction: column;
    height: max-content;
    gap: 25px;
    margin-top: 36px;
  }

  .fresh-section > div {
    width: 100%;
  }

  .fresh-section-left {
    height: 578px;
  }

  .fresh-section .fresh-section-left img {
    right: -130px;
  }

  .fresh-section h2 {
    font-size: 39.7px;
    line-height: 49px;
    text-align: center;
  }

  .fresh-section-right > p {
    text-align: center;
    margin-bottom: 26px;
  }

  .fresh-section-list {
    gap: 26px;
  }

  .fresh-section-list .hidden-text {
    display: none;
  }
}

/* fresh-section end */
/* you-section start */
.you-section {
  padding: 81px 0 104px 114px;
  margin-top: 104px;
  background-color: var(--third-color);
  display: flex;
  gap: 87px;
  border-radius: 12px;
}

.you-content {
  margin-top: 48px;
}

@media screen and (max-width: 1024px) {
  .you-section {
    margin-top: 80px;
    padding: 0;
  }

  .you-section .you-image-container {
    display: none;
  }

  .you-section .you-content {
    margin-top: 117px;
    margin-bottom: 106px;
    width: 100%;
    text-align: center;
  }

  .you-items-container {
    justify-content: center;
  }
}

@media screen and (max-width: 431px) {
  .you-section {
    margin-top: 36px;
    padding-top: 62px;
    padding-bottom: 50px;
  }

  .you-section .you-content {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .you-section .you-content h2 {
    font-size: 39.7px;
    line-height: 47px;
    width: 286px;
    margin: 0 auto 35px auto;
  }

  .you-item {
    width: 280px;
  }
}

/* you-section end */
/* welldoing-section start */

.welldoing-section {
  margin-top: 104px;
  border-radius: 12px;
  position: relative;
}

.weldoing-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 667px;
  background: url("images/wood-bridge.png");
  z-index: -1;
}

.weldoing-content {
  text-align: center;
  color: white;
}

.weldoing-content img {
  margin-top: 110px;
}

.weldoing-content h3 {
  font-size: 38px;
  line-height: 36px;
  margin-top: 45px;
  margin-bottom: 12px;
}

.weldoing-content p {
  width: 650px;
  margin: 0 auto;
}

.weldoing-content button {
  margin-top: 28px;
}

.welldoing-content-bottom {
  margin-top: 48.5px;
  padding: 0 67.5px;
}

.welldoing-content-bottom .inner {
  background-color: var(--secondary-color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 17.25px;
  padding: 119px 66px;
}

.welldoing-content-bottom-item {
  width: 245px;
  text-align: center;
}

.welldoing-content-bottom-item p {
  font-size: 21.33px;
  margin-top: 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .welldoing-content-bottom .inner {
    flex-wrap: wrap;
    gap: 0;
    padding: 71px 66px;
  }

  .welldoing-content-bottom .inner div {
    width: 50%;
  }

  .welldoing-content-bottom .inner div:nth-child(1),
  .welldoing-content-bottom .inner div:nth-child(2) {
    margin-bottom: 49px;
  }

  .welldoing-content-bottom-item p {
    margin-top: 18px;
  }

  .welldoing-content-bottom-item img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 431px) {
  .welldoing-section {
    margin-top: 36px;
  }

  .weldoing-bg {
    border-radius: 12px;
    height: 354px;
    background-size: cover;
    background-position: center;
  }

  .weldoing-content img {
    margin-top: 72px;
    width: 46.56px;
    height: 41.47px;
  }

  .weldoing-content h3 {
    font-size: 21.33px;
    line-height: 31px;
    width: 236px;
    margin: 7px auto 0 auto;
  }

  .weldoing-content p {
    display: none;
  }

  .weldoing-content button {
    width: 198px;
    height: 46px;
    font-size: 16.33px;
    margin-top: 13px;
  }

  .welldoing-content-bottom {
    margin-top: 38.76px;
    padding: 0 32px;
  }

  .welldoing-content-bottom .inner {
    padding: 71px 0;
    gap: 49px;
  }

  .welldoing-content-bottom .inner div {
    width: 100%;
  }

  .welldoing-content-bottom .inner div:nth-child(1),
  .welldoing-content-bottom .inner div:nth-child(2) {
    margin-bottom: 0;
  }
}

/* welldoing-section end */

/* footer start */
footer {
  background-color: var(--primary-color);
  margin-top: 69px;
}

.footer-nav {
  padding: 78px 69px;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav > a,
.footer-nav > ul,
.footer-nav > div {
  width: 50%;
  height: max-content;
}

.footer-nav > ul {
  justify-content: flex-end;
}

.footer-nav > div {
  margin-top: 36px;
}

.footer-nav .logo .logo-text {
  color: #fff;
}

.footer-nav .nav-items {
  color: white;
  display: flex;
  gap: 40px;
  margin: 0;
}

.footer-nav .nav-item a {
  color: white;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .footer-nav {
    padding-left: 139px;
    padding-right: 139px;
  }

  .footer-nav > a,
  .footer-nav > ul,
  .footer-nav > div {
    width: 100%;
  }

  footer nav > a {
    margin-bottom: 36px;
  }

  .footer-socials {
    margin-top: 36px;
  }

  .footer-nav > ul {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 431px) {
  footer {
    margin-top: 60px;
    padding: 139px 78px 125px 78px;
    height: 365px;
    display: flex;
    align-items: center;
  }

  .footer-nav {
    padding: 0;
    width: 166px;
    margin: 0 auto;
  }

  .footer-nav .nav-items {
    flex-wrap: wrap;
    gap: 0;
  }

  .footer-nav .nav-items li {
    width: 50%;
  }

  .footer-nav .nav-items li:nth-child(1),
  li:nth-child(2) {
    margin-bottom: 36px;
  }

  .footer-socials {
    gap: 24px;
  }
}
/* footer end */
