/* general css start */
:root {
  --primary-color: #285e67;
  --secondary-color: #fce2d7;
  --third-color: #f4f4f4;
  --fourth-color: #2b2b2b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: var(--fourth-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  cursor: pointer;
}

h2 {
  font-size: 50.52px;
  line-height: 58px;
  color: var(--fourth-color);
  margin-bottom: 61px;
  margin-top: 0px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

.btn {
  width: 251px;
  height: 56px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 67px;
  font-size: 23.33px;
  line-height: 24px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  border: 1px solid var(--third-color);
  width: 257px;
}

/* general css end */

/* header start */
.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.header-nav .nav-items {
  display: flex;
  align-self: start;
  gap: 40px;
  margin: 0;
}

.header-nav .nav-items .nav-item {
  display: flex;
  align-self: start;
  gap: 40px;
  margin: 0;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo .logo-circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #d0d0d0;
  border-radius: 26px;
}

.logo .logo-text {
  font-weight: 600;
  font-size: 21.33px;
  line-height: 24px;
  align-self: center;
  color: var(--primary-color);
}

.hero-section {
  margin-top: 142px;
  text-align: center;
}

.hero-section h1 {
  font-weight: 600;
  font-size: 65.34px;
  line-height: 85px;
  margin-bottom: 0;
}

.hero-section p {
  font-size: 16px;
  margin-top: 17px;
  margin-bottom: 0px;
}

.hero-section button {
  margin-top: 33px;
  margin-bottom: 56px;
}

.hero-section-image-container {
  display: flex;
  justify-content: space-between;
}

/* header end */

/* wellbeing-section start */
.wellbeing-section {
  margin-top: 107px;
  background-color: var(--third-color);
  padding: 99.73px 0px 51.73px 112px;
  border-radius: 12px;
  position: relative;
}

.wellbeing-section .bg {
  position: absolute;
  right: 112px;
  bottom: 0;
}

.wellbeing-items-container,
.you-items-container {
  display: flex;
  gap: 69px;
}
.wellbeing-item,
.you-item {
  width: 260px;
}

.wellbeing-item,
.you-item p {
  margin: 16px 0 0 0;
}

/* wellbeing-section end */

/* fresh-section start */
.fresh-section {
  margin-top: 107px;
  display: flex;
  gap: 53px;
}

.fresh-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fresh-section-right h2 {
  margin-bottom: 30px;
}

.fresh-section-right > p {
  margin-top: 0px;
  margin-bottom: 50px;
}

.fresh-section-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
}

.fresh-section-list-item {
  display: flex;
  align-items: center;
  gap: 23px;
}

.fresh-section-list-item p {
  margin: 0;
}

/* fresh-section end */
/* you-section start */
.you-section {
  padding: 81px 0 104px 114px;
  margin-top: 104px;
  background-color: var(--third-color);
  display: flex;
  gap: 87px;
  border-radius: 12px;
}

.you-content {
  margin-top: 48px;
}

/* you-section end */
/* welldoing-section start */

.welldoing-section {
  margin-top: 104px;
  border-radius: 12px;
  position: relative;
}

.weldoing-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 667px;
  background: url("images/wood-bridge.png");
  z-index: -1;
}

.weldoing-content {
  text-align: center;
  color: white;
}

.weldoing-content img {
  margin-top: 110px;
}

.weldoing-content h3 {
  font-size: 38px;
  line-height: 36px;
  margin-top: 45px;
  margin-bottom: 12px;
}

.weldoing-content p {
  width: 650px;
  margin: 0 auto;
}

.weldoing-content button {
  margin-top: 28px;
}

.welldoing-content-bottom {
  margin-top: 48.5px;
  padding: 0 67.5px;
}

.welldoing-content-bottom .inner {
  background-color: var(--secondary-color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 17.25px;
  padding: 119px 66px;
}

.welldoing-content-bottom-item {
  width: 245px;
  text-align: center;
}

.welldoing-content-bottom-item p {
  font-size: 21.33px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* welldoing-section end */

/* footer start */
footer {
  background-color: var(--primary-color);
  margin-top: 69px;
}

.footer-nav {
  padding: 78px 69px;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav > a,
.footer-nav > ul,
.footer-nav > div {
  width: 50%;
  height: max-content;
}

.footer-nav > ul {
  justify-content: flex-end;
}

.footer-nav > div {
  margin-top: 36px;
}

.footer-nav .logo .logo-text {
  color: #fff;
}

.footer-nav .nav-items {
  color: white;
  display: flex;
  gap: 40px;
  margin: 0;
}

.footer-nav .nav-item a {
  color: white;
}

.footer-socials {
  display: flex;
  gap: 20px;
}
/* footer end */
